#book{
    width: 80%;;
    margin: auto;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

#card{
    border: 1px solid black;

}
#card>img{
    height: 100px;
    width: 100px;
}